@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.teaser-banner {
	z-index: 10;
	
	&__banner, .banner {
				@include sunrise-background;
				@include sunrise-background--autoplay;
        
        &__inner {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
						z-index: 10;
        }
        
        &__icon {
            font-size: 16px;
            margin-right: 16px;
        }
        
        &__text, .text {
            display: inline-block;
            margin-right: 16px;
            
            &:not(:last-child) {
                margin-right: 8px;
            }

        }

        &__button {}

    }

    &__placeholder {
        height: 80px;
    }

    &__cover {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 80px;
        background-color: $white;
    }

}
