@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.teaser-banner {
	z-index: 10;

	&_inner {
		padding: 0;
	}
	
	&__banner, .banner {
		@include sunrise-background(80px);
	    @include sunrise-background--autoplay;
        
        &__inner {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
			z-index: 10;
            gap: 16px;
        }
        
        &__icon {
            font-size: 16px;
            margin-right: 16px;
        }
        
        &__text, .text {
            display: inline-block;
            margin-right: 16px;
            
            &:not(:last-child) {
                margin-right: 8px;
            }

        }

        &__button {
            flex-shrink: 0;
        }

    }

    &__placeholder {
        height: 80px;
    }

    &__cover {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 80px;
        background-color: $white;
    }

    @media (max-width: 700px) {

        &__banner, .banner {

            &__icon {
                display: none;
            }
            
        }

    }

    @media (max-width: 500px) {

        &__banner, .banner {
		    @include sunrise-background(120px);
            
            &__inner {
                flex-direction: column;
            }

            &__text {
                text-align: center;

                & .text--bold {
                    display: none;
                }
            }
        
        }

    }

    @media (max-width: 400px) {

        &__banner, .banner {
		    @include sunrise-background(80px);

            &__button {
                display: none;
            }
        }

    }

}
