.coin-creation {

	&__header, .header {
		margin-bottom: 64px;

		&__title {
			text-align: center;
			margin-bottom: 16px;
		}

		&__text {
			text-align: center;
		}

	}

	&__form, .form {

		&__fieldset {
			margin-bottom: 32px;
			display: grid;
		}
		
		&__general, .general {
			grid-template-columns: 80px 2fr 1fr;
			grid-gap: 32px;
		}
		
		&__supply-and-liquidity, .supply-and-liquidity {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 32px;
		}
		
		&__buy-tax, .buy-tax {
			grid-row-gap: 16px;

			&__wrapper {
				display: grid;
				align-items: center;
				grid-template-columns: 48px 2fr 1fr 2fr;
				grid-gap: 16px;
			}

		}

		&__sell-tax, .sell-tax {
			grid-gap: 16px;

			&__wrapper {
				display: grid;
				align-items: center;
				grid-template-columns: 48px 2fr 1fr 2fr;
				grid-gap: 16px;
			}

		}

		&__limits, .limits {
			grid-template-columns: 1fr 1fr;
			grid-gap: 32px;
		}

		&__actions {
			grid-template-columns: auto auto;
			justify-content: center;
			align-items: center;
			grid-gap: 32px;
		}

	}

	@media (max-width: 800px) {
		
			&__form, .form {

			&__fieldset {
				display: block;
				margin-bottom: 16px;
				display: grid;
			}

			&__general, .general {
				grid-template-columns: 72px 72px 1fr 1fr 1fr;
				grid-template-rows: 72spx 72px auto;
				grid-gap: 16px;

				&__input--image { grid-column: 1 / 3; grid-row: 1 / 2 }
				&__input--name { grid-column:  3 / 6; grid-row: 1 / 2 }
				&__input--chain { grid-column: 3 / 4; grid-row: 2 / 3 }
				&__input--symbol { grid-column: 4 / 6; grid-row: 2 / 3 }

				&__input--image { width: 144px; height: 144px; }

			}
			
				&__supply, .supply {
					grid-template-columns: 1fr;
					grid-template-rows: auto;
					grid-gap: 16px;
				}
			
				&__liquidity, .liquidity {
					grid-template-columns: 1fr;
					grid-template-rows: auto;
					grid-gap: 16px;
					margin-bottom: 48px;
				}
			
				&__buy-tax, .buy-tax {
					grid-row-gap: 16px;
					margin-bottom: 48px;

					&__wrapper {
						display: grid;
						align-items: center;
						grid-template-columns: 40px 1fr;
						grid-template-rows: auto auto auto auto;
						grid-gap: 16px;
					}

					&__label {
						grid-row: span 4;
						align-self: start;
						margin-top: 8px;
					}

				}

				&__sell-tax, .sell-tax {
					grid-gap: 16px;
					margin-bottom: 48px;

					&__wrapper {
						display: grid;
						align-items: center;
						grid-template-columns: 40px 1fr;
						grid-template-rows: auto auto auto auto;
						grid-gap: 16px;
					}

					&__label {
						grid-row: span 4;
						align-self: start;
						margin-top: 8px;
					}

				}

				&__limits, .limits {
					grid-template-columns: 1fr;
					grid-template-rows: auto auto;
					grid-gap: 16px;
					margin-bottom: 48px;
				}

				&__links, .links {
					grid-template-columns: 1fr;
					grid-template-rows: auto auto;
					grid-gap: 16px;
					margin-bottom: 48px;
				}

				&__actions {
					grid-template-columns: auto auto;
					justify-content: center;
					align-items: center;
					grid-gap: 32px;
				}

		}

	}

	@media (max-width: 600px) {

		&__form, .form {

			&__general, .general {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto auto auto;
				grid-gap: 16px;

				&__input--image { grid-column: 1 / 2; grid-row: 1 / 2 }
				&__input--name { grid-column:  1 / 2; grid-row: 2 / 3 }
				&__input--chain { grid-column: 1 / 2; grid-row: 3 / 4 }
				&__input--symbol { grid-column: 1 / 2; grid-row: 4 / 5 }

				&__input--image { 
					width: 120px; height: 120px;
					align-self: center;
					justify-self: center;
				 }

			}

		}

	}
	
}