/* HIDE SCROLLBAR */
* {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* DEFINE SECTIONS */
.section {
    width: 100%;
    margin-bottom: 64px;

    &__inner {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 32px;
        position: relative;
        width: 100%;
    }
}