@mixin rainbow-border($border-width: 2px, $background-color: $white){

	position: relative;
	border-radius: 32px;
	overflow: hidden;
	z-index: 5;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;	
		z-index: -5;
		border-radius: 32px;
		background-color: $background-color;
		margin: $border-width;
		display: inline-block;

	}
	
    &::after {
		content: "";
        position: absolute;
		padding: 32px;
        top: 0px;
        width: 200%;
        bottom: 0px;
        left: -10%;	
		border-radius: 32px;
        z-index: -10;
        background: linear-gradient(45deg, $rainbow-color-1, $rainbow-color-2,  $rainbow-color-3, $rainbow-color-4,  $rainbow-color-1, $rainbow-color-2, $rainbow-color-3, $rainbow-color-4);
        display: inline-block;
        transition: all 0.3s ease;
    }

}

@mixin rainbow-border--background-color($background-color: $white) {

	&::before { 
		background-color: $background-color;
	}

}

@mixin rainbow-border--hover ($border-width: 2px) {

    &:hover::after {
		left: -110%;
	}

}

@mixin rainbow-border--autoplay ($border-width: 2px) {
	&::after {
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-name: wander;
		animation-timing-function: linear;
	}


}