* {
	font-family: Inter, Arial, sans-serif;
}

.heading {

	&--h1 { 
		font-size: 80px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h2 { 
		font-size: 40px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h3 { 
		font-size: 22px;
		line-height: 1.2px;
		font-weight: 600;
		text-transform: uppercase;
	}


	&--h4 { 
		font-size: 18px;
		line-height: 1.2px;
		font-weight: 600;
	}

}

.text {
	font-size: 18px;
	line-height: 1.5;
}

.input__label-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.input-text__label {
	font-size: 14px;
}

.input-image__label {

	font-size: 14px;
}
.input-text__field {
	font-size: 14px;
}

.button {
	font-size: 14px;
	font-weight: 600;
}

.link {
	font-size: 14px;
	font-weight: 600;
}

.accordion__item .item__heading {
	font-size: 18px;
	font-weight: 400;
}

.coin-card .infos__name {
	font-size: 18px;
}

.coin-card .labels__item {
	font-size: 12px;
}

.coin-card .infos__price {
	font-weight: 700;
}

.promotion__label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}

.rainbow__letter {
	line-height: 1.5;
	text-transform: inherit;
}

.coin-creation .sell-tax__label, 
.coin-creation .buy-tax__label {
	font-size: 14px;
}
