* {
	font-family: Inter, Arial, sans-serif;
}

.heading {

	&--h1 { 
		font-size: 80px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h2 { 
		font-size: 40px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h3 { 
		font-size: 22px;
		line-height: 1.2px;
		font-weight: 600;
	}


	&--h4 { 
		font-size: 18px;
		line-height: 1.2px;
		font-weight: 600;
	}

}

.text {
	font-size: 18px;
	line-height: 1.5;
}

.input__label-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.input-text__label {
	font-size: 14px;
}

.input-image__label {

	font-size: 14px;
}
.input-text__field {
	font-size: 14px;
}

.button {
	font-size: 14px;
	font-weight: 800;
}

.accordion__item .item__heading {
	font-size: 24px;
	font-weight: 600;
}