$black: #000000;
$white: #FFFFFF;

$grey-40: #E9E9E9;
$grey-60: #A6A6A6;

$red-50: #FF4141;
$orange-50: #FFC700;
$blue-50: #22AFFF;
$green-50: #34E89E;

$rainbow-color-1: $red-50;
$rainbow-color-2: $orange-50;
$rainbow-color-3: $blue-50;
$rainbow-color-4: $green-50;

$sunrise-color-1: transparentize($red-50, 0.5);
$sunrise-color-2: transparentize($orange-50, 0.5);
$sunrise-color-3: transparentize($blue-50, 0.5);
$sunrise-color-4: transparentize($green-50, 0.5);