@import 'styles/variables.scss';

.rainbow {
	font-size: inherit;
	color: inherit;	
	font-weight: inherit;

	&__letter { 
		display: inline-block;
	 }

	&__letter:nth-child(4n + 1) { color: $rainbow-color-1 };
	&__letter:nth-child(4n + 2) { color: $rainbow-color-2 };
	&__letter:nth-child(4n + 3) { color: $rainbow-color-3 };
	&__letter:nth-child(4n + 4) { color: $rainbow-color-4 };
};