@import 'styles/variables.scss';

.mobile-navigation {
    z-index: 20;
		display: none;
    
    &__bar, .bar {
        position: fixed;
        top: 80px;
        right: 0;
        left: 0;
        height: 64px;
				margin-bottom: 0;
				z-index: 20;
				background-color: $white;
				
        &__inner {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 
            gap: 32px;
            padding-top: 24px;
            padding-bottom: 24px;
            width: 100%;
        }

		&__hamburger {
			width: 56px;
			height: 56px;
		}


        &__links {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

    }

	&__menu, .menu {
		background-color: transparentize($black, 1);
		position: fixed;
		top: 144px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 15;
		transition: background-color 0.3s ease;  
		height: 0px;

		&__links, .links {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			height: 100%;
			padding: 16px 32px;

			&__item {
				color: $white !important;
				opacity: 0;
				transition: all 0.3s ease;
				margin-bottom: 16px;
			}

		}
	}

    &__placeholder {
        height: 64px;
    }

    &__cover {
        position: fixed;
        top: 80px;
        right: 0;
        left: 0;
        height:  64px;
        background-color: $white;
    }

		&--menu-is-visible {

			.mobile-navigation {

				&__menu, .menu {
					height: calc(100vh - (80px + 64px - 48px));
					background-color: transparentize($black, 0.1);

					&__links, .links {

						&__item {
							opacity: 1;
						}

					}
				}

			}

		}

		@media (max-width: 950px) {
			display: block;
		}

		@media (max-width: 650px) {


			&__bar, .bar {

				&__inner {
					justify-content: start;
					gap: 16px;
				}

				&__logo-wrapper {
					order: 2;
				}

				&__hamburger {
					order: 1;
					right: 8px !important;
				}


				&__button {
					order: 3;
					margin-left: auto;
				}

			}

		}

		@media (max-width: 500px) {

			&__bar, .bar {
				top: 120px;
	
				&__hamburger {
					width: 40px;
					height: 40px;
					position: relative;
					right: -8px;
				}

			}

			&__cover {
				top: 120px;
			}

			 &__placeholder {
    		    height: 40px;
  			}

			& .mobile-navigation__menu, .menu {
				top: 120px;
			}
			
			&--menu-is-visible  {

				.mobile-navigation__menu, .menu {
					top: 200px;
				}
				
			}

		}

		@media (max-width: 400px) {

			&__bar, .bar {
				top: 80px;
			}

			&__cover {
				top: 80px;
			}

			& .mobile-navigation__menu, .menu {
				top: calc(80px + 64px - 180px);
			}
			
			&--menu-is-visible  {

				.mobile-navigation__menu, .menu {
					top: calc(80px + 64px);
				}
				
			}



		}

		@media (max-width: 450px) {

			&__bar, .bar {
			
				&__inner {
					justify-content: space-between;;
				}

				&__button {
					display: none;
				}
			}
		}

}