.newborns {

    &__header {
        margin-bottom: 32px;
    }

    &__filter, .filter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 16px;
        margin-bottom: 32px;
    }

    &__list, .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        margin-bottom: 48px;
    }

    &__actions, .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;

    }

}