    @import 'styles/variables.scss';

    .input-slider {
      width: 100%;
      display: block;

      &__label-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 24px;
        align-items: center;
      }

      &__label {
        margin-bottom: 8px;
        display: inline-block;
      }

      &__field {
        margin: auto;
        -webkit-appearance: none;
        position: relative;
        height: 8px;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        outline: none;
        margin-bottom: 8px;
        background: #F3F3F3;

        &::-moz-range-thumb {
            -moz-appearance: none;;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid $grey-60;
            background: $white;
            position: relative;
            top: -8px;

            &:active {
                border: 2px solid $orange-50;
                cursor: grabbing;
            }

        }
            
        &::-moz-range-track {
            height: 10px;
            background: #ddd;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $white;
            border: 2px solid $grey-60;
            position: relative;
            top: -8px;
    
            &:active {
                border: 2px solid $orange-50;
                cursor: grabbing;
            }

        }

        
        &::-webkit-slider-runnable-track {
            height: 8px;
            border-radius: 5px;
        }

      }

      &__value {
        padding-left: 24px;
        color: $grey-60;
      }
      
    }