.hero {
    
    &__inner {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 64px;
		height: 100%;
		padding-right: 0;
		min-height: calc(100vh - (80px + 100px));
    }

    &__info, .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 64px 0;

        &__heading {
            margin-bottom: 16px;
        }

        &__text {
            margin-bottom: 32px;
        }

    }

    &__wallpaper {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

		@media (max-width: 950px) {

			&__inner {
				min-height: calc(100vh - (80px + 64px));
			}

		}

        @media (max-width: 700px) {

            &__inner {
                grid-template-rows: auto auto;
                grid-template-columns: 1fr;
                grid-gap: 32px;
                padding: 0;
                min-height: calc(100vh - (80px + 100px));
            }

            &__wallpaper {
                order: 1;
                margin-top: 72px;
                width: 100%;
                height: 400px;
            }

            &__info {
                order: 2;
                margin-top: 32px;
                padding: 0 32px;
            }

        }

        @media (max-width: 400px) {

            &__wallpaper {
                margin-top: 16px;
            }

            &__info {
                padding: 0 24px;
            }

        }

}