@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/keyframes.scss';

.promotion {
    position: relative;

    
    &__label {
        position: relative;
        left: 48px;
        top: 20px;
        padding: 8px 16px;
        border-radius: 4px;
        display: inline-block;
        background: linear-gradient(90deg, $rainbow-color-1, $rainbow-color-2,  $rainbow-color-3, $rainbow-color-4);
        color: $white;
        z-index: 10;
    }
    
    &__content, .content {
        @include rainbow-border(6px, $black);
        @include rainbow-border--autoplay;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
        justify-content: flex-start;
        grid-gap: 16px;
        width: auto;
        max-width: 1060px;
        padding: 32px;

        &__coin-card {
            background-color: $black;


            .infos__price {
                color: $white;
            }

            .coin-card__icon {
                color: $white;
            }



        }

    }

    @media (max-width: 400px) {

        &__content, .content {
            @include rainbow-border(6px, $black);
            @include rainbow-border--autoplay;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
            justify-content: flex-start;
            grid-gap: 16px;
            width: auto;
            max-width: 1060px;
            padding: 32px 8px;
    }

}

}